/* utils */
.btn-purple {
  background: var(--primary-color);
  color: #fff;
  transition: all 0.5s;
}

.btn-purple:hover {
  background: var(--secondary-color);
  color: #fff;
}

.btn-purple.btn-block {
  width: 100%;
}

.product-item {
  position: relative;
  overflow: hidden;
  transition: 0.3s ease;
}

.add-to-cart {
  position: absolute;
  bottom: -38px;
  left: 0;
}

.card.item:hover .add-to-cart {
  bottom: 0;
}

/* Shop Page Section Heading */
.h3.heading {
  background: var(--primary-color);
  color: #fff;
  padding: 0.5rem;
  border-radius: 0.5rem;
  letter-spacing: 1px;
  font-size: 1rem;
}
