/* utils */
.btn-purple,
.btn:disabled {
  background: var(--primary-color);
  color: #fff;
  transition: all 0.5s;
}
.btn.subtractQ:disabled,
.btn.addQ:disabled {
  color: #212529;
  background: transparent;
  border: 0;
}

.btn-purple:hover {
  background: var(--secondary-color);
  color: #fff;
}

.btn-purple.btn-block {
  width: 100%;
}

.product-item {
  position: relative;
  overflow: hidden;
  transition: 0.3s ease;
}

.add-to-cart {
  position: absolute;
  bottom: -38px;
  left: 0;
}

.card.item:hover .add-to-cart {
  bottom: 0;
}

/* Shop Page Section Heading */
.h3.heading {
  color: #fff;
  padding: 0.5rem;

  letter-spacing: 1px;
  font-size: 1rem;
}

.trashItem {
  cursor: pointer;
}
